<ul>
  <li>да бъде лесно проследим от IT-сферата по отношение на сигурността, употребата на добри практики, използването на съвременни технологии и злоупотребата с лична информация;<%= check_mark %></li>
  <li>да предоставя възможност за лесно преизползване на вече поръчани и изработени решения, за да не се налага всеки път да се преоткрива колелото и това да се заплаща;<%= check_mark %></li>
  <li>да залага потенциал за допълнително развитие и подобрение на продукта чрез обратна връзка от самите граждани;<%= check_mark %></li>
  <li>да стимулира иновацията, да се подобри гъвкавостта и по-лесната интеграция на софтуера;<%= check_mark %></li>
  <li>не позволява зависимост от първоначални изпълнители, за да има по-голяма конкуренция и следователно по-евтин и качествен софтуер;<%= check_mark %></li>
  <li>или с една дума: да се създаде благоприятна среда за изработката на добре работещо електронно управление, което дава широка гама от качествени услуги, фокусирани върху крайния потребител.<%= check_mark %></li>
</ul>

