<ul>
  <li>да се развива чрез agile методологии, фокусиращи се върху нуждите и удобството на крайния потребител, посредством постоянна обратна връзка и работа чрез итерации;<%= check_mark %></li>
  <li>да позволява на всеки да следи прогреса на разработката;<%= check_mark %></li>
  <li>да позволява надграждане и подобрение на съществуващи системи;<%= check_mark %></li>
  <li>да позволява преизползването му за други цели;<%= check_mark %></li>
  <li>да позволява изучаване на използваните технологии, с цел предлагане на конкурентна оферта за поддръжка и/или доразвитие;<%= check_mark %></li>
  <li>да предоставя API за услугите, които поддържа, за да позволи създаването на приложения от бизнеса, които ползват тези услуги.<%= check_mark %></li>
</ul>

