<ul>
  <li>разработка на продукта на етапи, фокусирани върху нуждите и удобствата на крайните потребители, чрез събиране на постоянна обратна връзка, а не спрямо предварително изготвени спецификации,<%= check_mark %></li>
  <li>възможност за лесно преизползване на вече поръчани и изработени решения, за да не се налага всеки път да се преоткрива колелото и това да се заплаща,<%= check_mark %></li>
  <li>възможност за проследяване на разработката от IT-сферата и потенциал за допълнително развитие и подобрение на продукта от самите граждани,<%= check_mark %></li>
  <li>създаване на по-голяма конкуренция между фирмите-разработчици, с цел намаляване на цените за изпълнение и повишаване на качеството на продукта,<%= check_mark %></li>
  <li>по-лесна приемственост и по-качествена поддръжка на готови софтуерни системи след изтичане на „гаранционния“ им период,<%= check_mark %></li>
  <li>предотвратяване на ситуации на „vendor lock-in“, в който компанията-изпълнител на даден продукт поставя невъзможни или пазарно-неоправдани условия за поддръжка и доработка, тъй като държавата няма алтернатива,<%= check_mark %></li>
  <li>бърза и евтина оценка на хипотези и нови идеи за софтуер, преди да се вземе решение за изпълнение.<%= check_mark %></li>
</ul>

