<footer>
  <p>
    Кампанията е дело на екип доброволци, част от <%= link_to 'фондация Общество.бг', 'https://obshtestvo.bg/' %>.<br>
    Може да <%= mail_to 'info@obshtestvo.bg', 'ни пишете по всяко време с коментари на info@obshtestvo.bg', subject: 'Относно gov.obshtestvo.bg' %>.<br>
    Този сайт е с <%= link_to 'отворен код, който може да намерите в GitHub', 'https://github.com/obshtestvo/gov' %>.<br>
  </p>
  <div class="obshtestvo">
    <p>
      <%= link_to "https://obshtestvo.bg/" do %>
        <%= image_tag 'obshtestvo_logo.png', size: '293x46' %>
      <% end %>
    </p>
    <p>Независими създатели на електронни инструменти<br /> за бърза и удобна връзка
     държава ⇄ гражданин</p>
  </div>
</footer>
