<div class="banner">
    <div class="campaign-bar">
        <p class="affiliation">Тази страница е част от кампанията <a href="http://gov.obshtestvo.bg/open">Отворени технологии в държавата</a></p>
        <p class="back">Какво още освен софтуер? Вижте на <a href="#" class="button standard orange"><b>Главната страница</b></a></p>
    </div>
    <div class="target">
      <%= render "home/administration/prompt_and_badge" %>
      <div class="info">
        <div class="name">
          <p><%= t "#{@type}.scope" %></p>
        </div>
        <div class="alternatives">
          <p class="prompt">Това не сте вие?</p>
          <p>Вижте същото, но за:</p>
            <%= render "home/administration/others" %>
        </div>
      </div>
    </div>
    <header>
      <h1>Отворен софтуер и гъвкава разработка</h1>
      <h2>Какво е това и какво означава за <strong><%= t "#{@type}.what_for" %></strong>?</h2>
    </header>
</div>
<section class="intro">
    <h2>Тази страница дава отговори на въпроса като последвателно разглежда:</h2>
</section>
<nav role="navigation">
    <div class="pattern"></div>
    <ul class="list">
        <li><a href="#pains">Проблем</a></li>
      <li><a href="#solution">Решение <span class="sub">с конкретни стъпки</span></a></li>
      <li><a href="#myths">Митове <span class="sub">какво е отворен код <br/> и гъвкава разработка</span></a></li>
      <li><a href="#experience">Опитът на другите <span class="sub">с примери</span></a></li>
    </ul>
</nav>
<div class="argumentation">
    <section id="pains">
      <header>
        <h2 class="number">Проблем</h2>
      </header>
        <div class="half conditions">
          <h2 class="heading">Ако за Вас е вярно дори едно от следните неща:</h2>
          <%= render "home/administration/problems" %>
        </div>

            <div class="half conclusion"><p>То вие <strong>страдате от проблеми</strong>, в следствие на непрозрачния и остарял подход за поръчка и изработка на
                софтуерни системи за държавата и администрациите.</p>

                <p>Проблеми, които <strong class="solved">отдавна са решени</strong> в софтуерната индустрия.</p></div>

            </section>

  <section id="solution">
    <header>
      <h2 class="number">Решение</h2>
    </header>
    <p class="requirements">Решението е да се премине към процес на разработка на софтуерния продукт, който позволява: </p><span class="checklist">Ще се постигне ли с предлаганите конкретни стъпки?</span>
    <ul>
      <li>разработка на продукта на етапи, фокусирани върху нуждите и удобствата на крайните потребители, чрез
        събиране на постоянна обратна връзка, а не спрямо предварително изготвени спецификации,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>възможност за лесно преизползване на вече поръчани и изработени решения, за да не се налага всеки
        път да се преоткрива колелото и това да се заплаща,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>възможност за проследяване на разработката от IT-сферата и потенциал за допълнително развитие и
        подобрение на продукта от самите граждани,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>създаване на по-голяма конкуренция между фирмите-разработчици, с цел намаляване на цените за
        изпълнение и повишаване на качеството на продукта,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>по-лесна приемственост и по-качествена поддръжка на готови софтуерни системи след изтичане на
        „гаранционния“
        им период,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>предотвратяване на ситуации на „vendor lock-in“, в който фирмата-изпълнител на даден
        продукт поставя невъзможни или пазарно-неоправдани условия за поддръжка и доработка, тъй като
        държавата няма алтернатива,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>бърза и евтина оценка на хипотези и нови идеи за софтуер, преди да се вземе решение за изпълнение.

        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
    </ul>

    <section id="steps">
      <header>
        <%= render "home/administration/do_steps" %>
        <h3 class="heading">Конкретни стъпки</h3>
        <div class="line1"></div>
      </header>

      <ul class="points">
        <li class="requirements">
          <div class="cover">
            <div class="img">
              <%= image_tag "doc.png" %>
              <span class="point">1</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">отворен код</a></li>
                <li><a href="#">свободен лиценз</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Поставяне на изискване софтуерът, изработван по поръчка за държавата, да бъде с <a href="#">отворен код</a> и
                със <a href="#">свободен лиценз</a>, позволяващ преизползване, усъвършенстване и надграждане от други учреждения, от бизнеса и от гражданите.</p>
            </div>
          </div>
        </li>
        <li class="process">
          <div class="cover">
            <div class="img">
              <%= image_tag "agile.png" %>
              <span class="point">2</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">гъвкава разработка</a></li>
                <li><a href="#">итерации</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Използване на т. нар. <a href="#">„гъвкави“ методологии</a>, с предпочитане на кратки, двуседмични итерации, <strong>внимание към обратната връзка </strong>от крайните потребители и фокусиране върху тяхното удобство и продуктивност.</p>
              <p>Избягване на предварително изготвени подробни спецификации.
            </div>
          </div>
        </li>
        <li class="data">
          <div class="cover">
            <div class="img">
              <%= image_tag "data.png" %>
              <span class="point">3</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">отворени данни</a></li>
                <li><a href="#">машинно-четим формат</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Спазване принципите на отворени данни и залагане на възможност за достъп до машинно-четим формат на публичните данни, с които софтуерната система ще работи.</p>
            </div>
          </div>
        </li>
      </ul>


      <div class="act">

        <%= render "home/administration/act" %>

        <p>Бихте могли и да подкрепите инициативата, като <a href="#">подпишете декларацията.</a></p>

        <p>Ако имате въпрос, на който не сме отговорили - продължете да четете надолу.</p>
      </div>
    </section>
  </section>

  <section id="myths">
    <header>
      <h2 class="number">Митове</h2>
    </header>

    <h2 class="heading">Какво точно е <strong>отворен код</strong>, <strong>гъвкави методологии</strong> и <strong>свободен лиценз</strong>? Какви са митове около тях?</h2>
    <div class="content">

      <p>Отворен код значи кодът на един софтуер да се публикува публично докато той се развива. Нищо повече.
        <span class="help">Това ви притеснява? - вижте <a href="#">въпросите и отговорите по-долу </a> </span></p>

      <p>------- тук изглежда добро място да обясним калко повече за ползите от това да е публичен, понеже сега
        изглежда някакво пльоснато без контекст -----.</p>
      <div class="open-browser hidden">
        <div class="chrome hidden">
          <%= image_tag "chrome-logo.png" %>
          <h4>В момента вие ползвате софтуер с отворен код!</h4>
          <p>
            Знаехте ли че, програмата, която ползвате за достъп до интернет (Google Chrome), е базирана на opensource?
          </p>
          <p>
            <a href="http://bg.wikipedia.org/wiki/Google_Chrome">Научете повече</a> или
            <a href="http://src.chromium.org/viewvc/chrome/">разгледайте</a> кода на браузъра.
          </p>
        </div>
        <div class="firefox hidden">
          <%= image_tag "firefox-logo.png" %>
          <h4>В момента вие ползвате софтуер с отворен код!</h4>
          <p>
            Знаехте ли че, програмата, която ползвате за достъп до интернет (Mozilla Firefox), е базирана на opensource?
          </p>
          <p>
            <a href="http://en.wikipedia.org/wiki/Firefox">Научете повече</a> или
            <a href="http://mxr.mozilla.org/mozilla-central/source/">разгледайте</a> кода на браузъра.
          </p>
        </div>
      </div>
      <p>Разбира се, кодът на този сайт също е отворен. Това означава, че вие се свободни да го гледате и дори редактирате. Ако имате желаниет да го сторите - той се намира на <a href="http://github.com/obshtestvo/gov">нашата страница</a> в <a href="http://github.com">github</a>.</p>
      <h3>Митове</h3>
      <div class="opposition">

        <%= render "home/administration/questions" %>

      </div>
    </div>

  </section>

  <section id="experience">
    <header>
      <h2 class="number">Опитът<br/> на другите</h2>
    </header>
      <ul>
        <li>Великобритания е пример като една от водещите държави в света със своя портал за е-управление <a href="http://gov.uk">gov.uk</a>, разработван по съвременни, гъвкави методологии, <a href="https://www.gov.uk/design-principles">ориентирани към крайния потребител</a> и с <a href="https://github.com/alphagov/whitehall">отворен код</a>.</li>
        <li>Федералното и щатските правителства и публични агенции в САЩ са пионери в реализирането на системи за държавата и администрацията с отворен и свободен код и <a href="https://playbook.cio.gov/">прицелени в удобството на крайния ползвател</a>. Примери са <a href="https://github.com/nysenate">Сенатът на Ню Йорк</a>, <a href="https://github.com/octolabs">Вашингтон</a>, <a href="https://github.com/miamidade">Маями</a>, <a href="https://github.com/chicago">Чикаго</a>, <a href="https://github.com/cityofnewyork">Ню Йорк</a> и агенции като <a href="https://18f.gsa.gov/">18F</a>, <a href="http://cfpb.github.io/">CFPB</a>, <a href="https://github.com/fcc">FCC</a>, <a href="https://github.com/gsa">GSA</a>, <a href="https://github.com/nasa">NASA</a> и <a href="http://www.w3.org/egov/wiki/images/f/f1/W3C_OpenSource_OpenData.pdf">DoD</a>.</li>
        <li>Европейската комисия приема <a href="http://ec.europa.eu/dgs/informatics/oss_tech/index_en.htm">няколко поредни стратегии</a>, в които се залага все по-голяма тежест на преизползване на съществуващи продукти с отворен код, както и на реализиране на нови такива под формата на отворен и свободен код.</li>
        <li><a href="https://government.github.com/">Има и множество други успешни примери</a>, илюстриращи опита на правителства и държавни учреждения да проправят път в използването на отворен код и гъвкави процеси на открито разработване на софтуерни системи.</li>
      </ul>

  </section>

  <div class="act">
    <%= render "home/administration/act" %>

    <p>Бихте могли и да подкрепите инициативата, като <a href="#">подпишете декларацията.</a></p>

    <p>Ако все още имате въпрос, на който не сме отговорили - пишете ни.</p>

    <form action="/contact-us" method="post">
      <input type="hidden" name="page" id="" value="<%= @type %>" />
      <input type="text" name="title" id="contact-us-title" value="" placeholder="Заглавие" /><br>
      <textarea name="content" id="contact-us-content" rows="8" cols="40" placeholder="Тук напиши твоето мъдро писмо."></textarea><br>

      <input type="submit" name="submit" id="" value="Изпрати!" />
    </form>

  </div>

</div>
