<div class="banner">
    <header>
      <!-- <h1>Изработката на софтуер за държавата като отворен код</h1> -->
      <h1>Отворен код в държавата</h1>
      <h2>Софтуерът, изработван за държавата и плащан от данъкоплатците, трябва да е публична собственост, с отворен код и да се разработва прозрачно и по гъвкава методология.</h2>
      <a href="#" class="button standard orange"><b>Подкрепям</b></a>
    </header>
</div>
<section class="intro">
    <h2>Тази страница дава отговори на въпроса като последвателно разглежда:</h2>
</section>
<nav role="navigation" class="main">
    <div class="pattern"></div>
    <div class="handle">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path d="M12.5 7h-9C3.224 7 3 7.224 3 7.5S3.224 8 3.5 8h9C12.775 8 13 7.776 13 7.5S12.775 7 12.5 7z"/><path d="M3.5 5h9C12.775 5 13 4.776 13 4.5S12.775 4 12.5 4h-9C3.224 4 3 4.224 3 4.5S3.224 5 3.5 5z"/><path d="M12.5 10h-9C3.224 10 3 10.225 3 10.5S3.224 11 3.5 11h9c0.275 0 0.5-0.225 0.5-0.5S12.775 10 12.5 10z"/></svg>
    </div>
    <ul>
      <li class="pains"><a href="#pains"><span class="va">Проблем</span></a></li>
      <li class="solution"><a href="#solution"><span class="va">Решение <span class="sub">с конкретни стъпки</span></span></a></li>
      <li class="myths"><a href="#myths"><span class="va">Митове <span class="sub">какво е отворен код <br/> и гъвкава разработка</span></span></a></li>
      <li class="experience"><a href="#experience"><span class="va">Опитът на другите <span class="sub">с примери</span></span></a></li>
    </ul>
</nav>
<div class="argumentation">
    <section id="pains">
      <header>
        <h2 class="number">Проблем</h2>
      </header>
        <div class="half conditions">
          <h2 class="heading">Ако за Вас е вярно дори едно от следните неща:</h2>
          <%= render "home/administration/problems" %>
        </div><div class="half conclusion">
        <p>То вие <strong>страдате от проблеми</strong>, в следствие на непрозрачния и остарял подход за поръчка и изработка на
                софтуерни системи за държавата и администрациите.</p>

                <p>Проблеми, които <strong class="solved">отдавна са решени</strong> в софтуерната индустрия.</p></div>

            </section>

  <section id="solution">
    <header>
      <h2 class="number">Решение</h2>
    </header>
    <p class="requirements">Решението е да се премине към процес на разработка на софтуерния продукт, който позволява: </p><span class="checklist">Ще се постигне ли с предлаганите конкретни стъпки?</span>
    <ul>
      <li>разработка на продукта на етапи, фокусирани върху нуждите и удобствата на крайните потребители, чрез
        събиране на постоянна обратна връзка, а не спрямо предварително изготвени спецификации,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>възможност за лесно преизползване на вече поръчани и изработени решения, за да не се налага всеки
        път да се преоткрива колелото и това да се заплаща,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>възможност за проследяване на разработката от IT-сферата и потенциал за допълнително развитие и
        подобрение на продукта от самите граждани,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>създаване на по-голяма конкуренция между фирмите-разработчици, с цел намаляване на цените за
        изпълнение и повишаване на качеството на продукта,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>по-лесна приемственост и по-качествена поддръжка на готови софтуерни системи след изтичане на
        „гаранционния“
        им период,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>предотвратяване на ситуации на „vendor lock-in“, в който компанията-изпълнител на даден
        продукт поставя невъзможни или пазарно-неоправдани условия за поддръжка и доработка, тъй като
        държавата няма алтернатива,
        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
      <li>бърза и евтина оценка на хипотези и нови идеи за софтуер, преди да се вземе решение за изпълнение.

        <svg class="check" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" xml:space="preserve"><path d="M7.5,0C3.357,0,0,3.357,0,7.5S3.357,15,7.5,15S15,11.643,15,7.5S11.643,0,7.5,0z M6.439,11.035 L2.904,7.5l1.414-1.414l2.121,2.121l4.242-4.242l1.414,1.414L6.439,11.035z"/></svg>
      </li>
    </ul>

    <section id="steps">
      <header>
        <%= render "home/administration/do_steps" %>
        <h3 class="heading">Конкретни стъпки</h3>
        <div class="line1"></div>
      </header>

      <ul class="points">
        <li class="requirements">
          <div class="cover">
            <div class="img">
              <%= image_tag "doc.png" %>
              <span class="point">1</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">отворен код</a></li>
                <li><a href="#">свободен лиценз</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Поставяне на изискване софтуерът, изработван по поръчка за държавата, да бъде с <a href="#">отворен код</a> и
                със <a href="#">свободен лиценз</a>, позволяващ преизползване, усъвършенстване и надграждане от други учреждения, от бизнеса и от гражданите.</p>
            </div>
          </div>
        </li>
        <li class="process">
          <div class="cover">
            <div class="img">
              <%= image_tag "agile.png" %>
              <span class="point">2</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">гъвкава разработка</a></li>
                <li><a href="#">итерации</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Използване на т. нар. <a href="#">„гъвкави“ методологии</a>, с предпочитане на кратки, двуседмични итерации, <strong>внимание към обратната връзка </strong>от крайните потребители и фокусиране върху тяхното удобство и продуктивност.</p>
              <p>Избягване на предварително изготвени подробни спецификации.
            </div>
          </div>
        </li>
        <li class="data">
          <div class="cover">
            <div class="img">
              <%= image_tag "data.png" %>
              <span class="point">3</span>
            </div>
            <span class="connect"></span>
          </div>
          <div class="content">
            <div class="quick-info">
              <h4>мини речник</h4>
              <ul>
                <li><a href="#">отворени данни</a></li>
                <li><a href="#">машинно-четим формат</a></li>
              </ul>
            </div>
            <div class="essence">
              <p>Спазване принципите на отворени данни и залагане на възможност за достъп до машинно-четим формат на публичните данни, с които софтуерната система ще работи.</p>
            </div>
          </div>
        </li>
      </ul>

    </section>
  </section>

  <section id="myths">
    <header>
      <h2 class="number">Митове</h2>
    </header>

      <div class="opposition">

        <%= render "home/administration/questions" %>

      </div>

  </section>

  <section id="experience">
    <header>
      <h2 class="number">Опитът<br/> на другите</h2>
    </header>
      <ul>
        <li>Великобритания е пример като една от водещите държави в света със своя портал за е-управление <a href="http://gov.uk">gov.uk</a>, разработван по съвременни, гъвкави методологии, <a href="https://www.gov.uk/design-principles">ориентирани към крайния потребител</a> и с <a href="https://github.com/alphagov/whitehall">отворен код</a>.</li>
        <li>Федералното и щатските правителства и публични агенции в САЩ са пионери в реализирането на системи за държавата и администрацията с отворен и свободен код и <a href="https://playbook.cio.gov/">прицелени в удобството на крайния ползвател</a>. Примери са <a href="https://github.com/nysenate">Сенатът на Ню Йорк</a>, <a href="https://github.com/octolabs">Вашингтон</a>, <a href="https://github.com/miamidade">Маями</a>, <a href="https://github.com/chicago">Чикаго</a>, <a href="https://github.com/cityofnewyork">Ню Йорк</a> и агенции като <a href="https://18f.gsa.gov/">18F</a>, <a href="http://cfpb.github.io/">CFPB</a>, <a href="https://github.com/fcc">FCC</a>, <a href="https://github.com/gsa">GSA</a>, <a href="https://github.com/nasa">NASA</a> и <a href="http://www.w3.org/egov/wiki/images/f/f1/W3C_OpenSource_OpenData.pdf">DoD</a>.</li>
        <li>Европейската комисия приема <a href="http://ec.europa.eu/dgs/informatics/oss_tech/index_en.htm">няколко поредни стратегии</a>, в които се залага все по-голяма тежест на преизползване на съществуващи продукти с отворен код, както и на реализиране на нови такива под формата на отворен и свободен код.</li>
        <li><a href="https://government.github.com/">Има и множество други успешни примери</a>, илюстриращи опита на правителства и държавни учреждения да проправят път в използването на отворен код и гъвкави процеси на открито разработване на софтуерни системи.</li>
      </ul>

  </section>

  <div class="act">
    <a href="/sign" class="button standard blue"><b>Подпишете декларацията</b></a>
  </div>

</div>

<section id="created-by">

  <p>Измислено и изработено от:</p>

  <br>

  <%= link_to "http://obshtestvo.bg" do image_tag "obshtestvo_logo.png" end %>

  <br />
  <br />

  <p>Независими създатели на електронни инструменти<br /> за бърза и удобна връзка
   държава гражданин</p>

</section>

