<div class="banner">
  <header>
    <h1>Отворен код в държавата</h1>
    <h2>Софтуерът, изработван за държавата и плащан от данъкоплатците, трябва да е публична собственост, с отворен код и да се разработва прозрачно и по гъвкава методология.</h2>
    <a href="#support" class="button standard orange">
      <b>Подкрепям</b>
      <span class="scroll-down-hint">↓</span>
    </a>
  </header>

  <section class="secondary">
    <ul>
      <li>
        <h2>Решението е бързо и струва точно нула лева и нула стотинки</h2>
        <p>Необходима е единствено промяна в нормативната уредба за обществени поръчки за държавен софтуер, с изискването софтуерът, поръчван за изработка за държавата, да бъде с отворен код и да е публична собственост.</p>
        <p>Може да се въведе веднага и да не струва нищо на данъкоплатеца. Необходимо и достатъчно е единствено да се вземе решението.</p>
      </li>

      <li>
        <h2>Губещи ще са монополистите и фирми, неспособни да работят в пазарни условия</h2>
        <p>Губещи от това решение ще са само фирмите, които досега са изнудвали държавата с нереално високи, непазарни цени за изработка и поддръжка на софтуер. Губещи ще са и компаниите, които не могат да създават качествени софтуерни продукти в пазарни условия.</p>
        <p>Печелят всички останали – гражданите, бизнесът, държавата.</p>
      </li>

      <li>
        <h2>Не предлагаме замяна на Windows с Linux и Microsoft Office с друго</h2>
        <p>Тази кампания не е за замяна на Microsoft Windows с Linux, или Microsoft Office с друг, безплатен продукт. Това е тема на друг дебат.
        </p>
        <p>Предлагаме специализиран софтуер, който се поръчва за изработка от държавата, да бъде с отворен код и публична собственост. В началото, това ще важи само за бъдещи поръчки.</p>
      </li>
    </ul>
  </section>

  <div class="area-links-wrapper">
    <div class="area-links">
      <p class="help">Научете повече от гледната точка на:</p>

      <%= link_to home_path(area: :people), class: "button #{"active" if @area == "people"}" do %>
        Граждани
      <% end %>

      <%= link_to home_path(area: :it), class: "button #{"active" if @area == "it"}" do %>
        IT и бизнес
      <% end %>

      <%= link_to home_path(area: :administration), class: "button #{"active" if @area == "administration"}" do %>
        Администрация
      <% end %>

    </div>
  </div>
</div>

<nav role="navigation" class="main">
  <div class="handle">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Capa_1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><path d="M12.5 7h-9C3.224 7 3 7.224 3 7.5S3.224 8 3.5 8h9C12.775 8 13 7.776 13 7.5S12.775 7 12.5 7z"/><path d="M3.5 5h9C12.775 5 13 4.776 13 4.5S12.775 4 12.5 4h-9C3.224 4 3 4.224 3 4.5S3.224 5 3.5 5z"/><path d="M12.5 10h-9C3.224 10 3 10.225 3 10.5S3.224 11 3.5 11h9c0.275 0 0.5-0.225 0.5-0.5S12.775 10 12.5 10z"/></svg>
  </div>
  <ul>
    <li class="pains"><a href="#pains"><span class="va">Проблем</span></a></li>
    <li class="solution"><a href="#solution"><span class="va">Решение <span class="sub">с конкретни стъпки</span></span></a></li>
    <li class="myths"><a href="#myths"><span class="va">Митове <span class="sub">какво е отворен код <br/> и гъвкава разработка</span></span></a></li>
    <li class="experience"><a href="#experience"><span class="va">Опитът на другите <span class="sub">с примери</span></span></a></li>
    <li class="support"><a href="#support"><span class="va">Подкрепи</span></a></li>
  </ul>
</nav>
<div class="argumentation">
    <section id="pains">
      <header>
        <h2 class="number">Проблем</h2>
      </header>
        <div class="half conditions">
          <h2 class="heading">Ако за Вас е вярно дори едно от следните неща:</h2>
          <%= render "home/#{@area}/problems" %>
        </div><div class="half conclusion">
        <p>То вие <strong>страдате от проблеми</strong>, в следствие на непрозрачния и остарял подход за поръчка и изработка на
                софтуерни системи за държавата и администрациите.</p>

                <p>Проблеми, които <strong class="solved">отдавна са решени</strong> в софтуерната индустрия.</p></div>

            </section>

  <section id="solution">
    <header>
      <h2 class="number">Решение</h2>
    </header>
    <p class="requirements">Решението е да се премине към процес на разработка на софтуерния продукт, който позволява: </p><span class="checklist">Ще се постигне ли с предлаганите конкретни стъпки?</span>

    <%= render "home/#{@area}/solution" %>

    <section id="steps">
      <header>
        <p class="subtitle">Държавните органи и всяка отделна администрация могат да предприемат следните <strong>три прости и евтини стъпки</strong> чрез промени в нормативната си уредба, за да адресират тези проблеми:</p>

        <h3 class="heading">Конкретни стъпки</h3>
        <div class="line1"></div>
      </header>

      <ul class="points">
        <li class="requirements">
          <span class="point"><span>1</span></span>
          <span class="connect"></span>
          <div class="content">
            <%= image_tag 'doc.png', class: 'img' %>
            <div class="essence">
              <p>Поставяне на изискване софтуерът, изработван по поръчка за държавата, да бъде с <%= definition_of :open_source, 'отворен код' %> и
                със <%= definition_of :open_license, 'свободен лиценз' %>, позволяващ преизползване, усъвършенстване и надграждане от други учреждения, от бизнеса и от гражданите.</p>
            </div>
          </div>
        </li>
        <li class="process">
          <span class="point"><span>2</span></span>
          <span class="connect"></span>
          <div class="content">
            <%= image_tag 'agile.png', class: 'img' %>
            <div class="essence">
              <p>Използване на т. нар. <%= definition_of(:agile, '„гъвкави“ методологии') %>, с предпочитане на кратки, двуседмични итерации, <strong>внимание към обратната връзка </strong>от крайните потребители и фокусиране върху тяхното удобство и продуктивност.</p>
              <p>Избягване на предварително изготвени подробни спецификации.
            </div>
          </div>
        </li>
        <li class="data">
          <span class="point"><span>3</span></span>
          <span class="connect"></span>
          <div class="content">
            <%= image_tag 'data.png', class: 'img' %>
            <div class="essence">
              <p>Спазване принципите на отворени данни и залагане на възможност за достъп до машинно-четим формат на публичните данни, с които софтуерната система ще работи.</p>
            </div>
          </div>
        </li>
      </ul>

    </section>
  </section>

  <section id="myths">
    <header>
      <h2 class="number">Митове</h2>
    </header>

      <div class="opposition">

        <%= render "home/administration/questions" %>

      </div>

  </section>

  <section id="experience">
    <header>
      <h2 class="number">Опитът на другите</h2>
    </header>
      <ul>
        <li>Великобритания е пример като една от водещите държави в света със своя портал за е-управление <a href="http://gov.uk">gov.uk</a>, разработван по съвременни, гъвкави методологии, <a href="https://www.gov.uk/design-principles">ориентирани към крайния потребител</a> и с <a href="https://github.com/alphagov/whitehall">отворен код</a>.</li>
        <li>Федералното и щатските правителства и публични агенции в САЩ са пионери в реализирането на системи за държавата и администрацията с отворен и свободен код и <a href="https://playbook.cio.gov/">прицелени в удобството на крайния ползвател</a>. Примери са <a href="https://github.com/nysenate">Сенатът на Ню Йорк</a>, <a href="https://github.com/octolabs">Вашингтон</a>, <a href="https://github.com/miamidade">Маями</a>, <a href="https://github.com/chicago">Чикаго</a>, <a href="https://github.com/cityofnewyork">Ню Йорк</a> и агенции като <a href="https://18f.gsa.gov/">18F</a>, <a href="http://cfpb.github.io/">CFPB</a>, <a href="https://github.com/fcc">FCC</a>, <a href="https://github.com/gsa">GSA</a>, <a href="https://github.com/nasa">NASA</a> и <a href="http://www.w3.org/egov/wiki/images/f/f1/W3C_OpenSource_OpenData.pdf">DoD</a>.</li>
        <li>Европейската комисия приема <a href="http://ec.europa.eu/dgs/informatics/oss_tech/index_en.htm">няколко поредни стратегии</a>, в които се залага все по-голяма тежест на преизползване на съществуващи продукти с отворен код, както и на реализиране на нови такива под формата на отворен и свободен код.</li>
        <li><a href="https://government.github.com/">Има и множество други успешни примери</a>, илюстриращи опита на правителства и държавни учреждения да проправят път в използването на отворен код и гъвкави процеси на открито разработване на софтуерни системи.</li>
      </ul>

  </section>

  <section id="support">
    <header>
      <h2 class="number">Подкрепи</h2>
    </header>

    <div class="act" id="sign">

      <%= render 'supporters/form' %>

    </div>
  </section>

</div>

<%= render 'shared/footer' %>
