<%= simple_form_for @supporter, remote: true, html: {id: 'sign-form', class: 'overlay-container'} do |f| %>
  <% if @success %>
    <div class="overlay-content success">
      <p>Благодарим Ви!</p>
      <!-- <p>Изпратихме Ви имейл, в който има инструкции как да потвърдите подкрепата си.</p> -->
      <p><small><a href="close" data-close=".overlay-content">Скриване на това съобщение.</a></small></p>
    </div>
  <% end %>

  <div class="overlay-content loading" style="display: none;"></div>

  <%= f.hidden_field :area %>
  <%= f.input :first_name, placeholder: 'Весела' %>
  <%= f.input :last_name, placeholder: 'Радостинова' %>
  <%= f.input :email, placeholder: 'vesela@radostinova.com' %>
  <%= f.input :organization, placeholder: 'Вашата организация' %>
  <%= f.input :is_organization %>
  <%= f.button :submit, 'Подкрепи', class: 'button standart green' %>
<% end %>
