<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="icon" type="image/png" href="/favicon.png">
  <%= render 'shared/page_meta' %>

  <title><%= page_meta(:title) || t('site.title') %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash_messages' %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/google_analytics' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
